<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>

<h1>Driver app</h1>
<table id="trip_data" style="width:100%">
  <tr>
    <th>Waiting</th>
    <th>Ongoing</th>
    <th>Completed</th>
  </tr>
</table>
</body>
<script>

var ids = []
$(document).ready(function(){

    jQuery.support.cors = true;
    var vars = []
    var query_params = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < query_params.length; i++)
        {
            hash = query_params[i].split('=');
            vars[hash[0]] = hash[1];
        }
    var user_id = vars[user_id]?vars[user_id]: 1
    var url = '/api/v1/trip/?source_app=DRIVER_APP&' + "user_id=" + user_id
    $.ajax(
    {
        type: "GET",
        url: url,
        data: "{}",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        cache: false,
        success: function (data) {
            var count = Math.max(data.waiting.length, data.ongoing.length, data.completed.length)
        var trHTML = '';
        var i = 0;
        while (i < count) {
            var waiting = '<tr><td>'
            if (data.waiting[i]) {
               waiting += 'Req Id: ' + data.waiting[i].id + ' cust id: ' + data.waiting[i].user + ' request_time_lapsed: ' + data.waiting[i].request_time_lapsed + ' sec ago'
               ids = [data.waiting[i].id, user_id]
               waiting += "<button onclick=callOnWaitingApi(ids)>Click!</button>"
            }    
              
            var ongoing = '</td><td>'
            if (data.ongoing[i]){
                ongoing += 'Req Id: ' +
                data.ongoing[i].id + ' cust id: ' + data.ongoing[i].user + ' request_time_lapsed: ' + data.ongoing[i].request_time_lapsed + ' sec. ago Picked up ' + data.ongoing[i].pickup_time_lapsed + " sec. ago"
            }
            var completed = '</td><td>'
            if (data.completed[i]){
                completed += 'Req Id: ' +
                data.completed[i].id + ' cust id: ' + data.completed[i].user + ' request_time_lapsed: ' + data.completed[i].request_time_lapsed + ' sec. ago Picked up ' + data.ongoing[i].pickup_time_lapsed + " sec. ago Completed: " + data.ongoing[i].completed_time_lapsed + " sec. ago"
            }
            completed += '</td></tr>'
              trHTML += waiting + ongoing + completed
              i += 1
        }
        $('#trip_data').append(trHTML);
        
        },
        
        error: function (msg) {
            
            alert(msg.responseText);
        }
    });
})

function callOnWaitingApi(ids){
    var url = '/api/v1/trip/' + ids[0] + '/?user_id=' + ids[1]
    $.ajax(
    {
        type: "PATCH",
        url: url,
        data: {"status": "ongoing"},
        contentType: "application/json; charset=utf-8",
        dataType: "json"
    });
}

</script>
</html>